<li>
  <h2>DDNS setting</h2>
  <article>
    <p>
      Please input a desired host name for your DDNS with 3 to 63 characters. First character should be a letter.
    </p>
    <%= image_tag 'help/en/ddns_edit.png' %>
  </article>
</li>