<li>
  <h2>การตั้งค่า DDNS</h2>
  <article>
    <p>
      กรุณาใส่ชื่อโฮสต์ที่ต้องการสำหรับ DDNS ของคุณด้วยตัวอักษร 3 ถึง 63 ตัว  ตัวอักษรแรกต้องเป็นตัวหนังสือ
    </p>
    <%= image_tag 'help/th/ddns_edit.png' %>
  </article>
</li>