// -------------------------------------
//   Page: help
//
//   # Path: /help
// -------------------------------------

div.help_wrapper1{
  max-width: 100%;
  padding: 0px 15px;
  .btn_wrap{
    margin: 0 0 20px;
    #expand, #collapse{
      color: #FFF;
      padding: 10px 20px;
      background: $btn-color;
      transition: background-color 0.3s ease 0s;
      -webkit-transition: background-color 0.3s ease 0s; /* Chrome & safari */
      -moz-transition: background-color 0.3s ease 0s; /* firefox */
      -o-transition: background-color 0.3s ease 0s;
      border: none;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-size: 0.9em;
      &.disable{
        opacity: 0.5;
        cursor: default;
        &:hover{
          background-color: darken($btn-color, 10%);
        }
      }
      &:hover{
        text-decoration:none;
        color:#FFF;
        background-color:darken($btn-color, 10%);
      }
    }
  }
  ul {
    li{
      list-style-type: none;
      &:not(:last-of-type) {
        border-bottom: 1px solid #FFF;
      }
      &:first-of-type h2 {
        -webkit-border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
      }
      &:last-of-type {
        h2:not(.active), h2.active + article {
          -webkit-border-radius: 0 0 3px 3px;
          -moz-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px;
        }
      }
    }
  }

  #tabs{
    padding:0;
    h2{
      margin: 0;
      padding: 10px 10px;
      font-size:15px; // Ref by sign-in btn
      cursor: pointer;
      background: $btn-color;
      color: white;
      transition: background-color 0.3s ease 0s;
      -webkit-transition: background-color 0.3s ease 0s; /* Chrome & safari */
      -moz-transition: background-color 0.3s ease 0s; /* firefox */
      -o-transition: background-color 0.3s ease 0s;
      &:hover {
        background-color: darken($btn-color, 10%);
      }
    }
    article {
      display: none;
      padding: 5px 10px;
      overflow: hidden;
      // color: $zyxel_color2;
      font-weight: bold;
      border: 1px solid $btn-color;
      transition: border-color 0.3s ease 0s;
      -webkit-transition: border-color 0.3s ease 0s; /* Chrome & safari */
      -moz-transition: border-color 0.3s ease 0s; /* firefox */
      -o-transition: border-color 0.3s ease 0s;
    }
    h2.active + article {
      display: block;
    }
    img{
      display: block;
      margin: 0px auto;
    }
    br{
      display: block;
      margin:5px 0;
    }
    .member_icon{
      display: inline-block;
      padding: 0 25px;
      background-image: image-url("member.png");
      background-repeat: no-repeat;
      background-position: center top;
      width: 35px;
      height: 34px;
    }
  }
  img{
    width:100%;
  }
}