// -------------------------------------
//   Page: personal
//
//   # Path: /personal/index
// -------------------------------------

.zyxel_table_style3{
  width: 100%;
  margin-bottom: 70px;
  th {
    padding-left: 10px;
    text-align: center;
    width: 120px;
  }
  td {
    padding-top: 4px;
    padding-bottom: 4px;
    color: $zyxel_color2;
    padding-left: 10px;
  }
  .device_info_block {
    width: 50%;
    float: left;
  }
  .device_info_area {
    padding: 30px 0 30px 0;
    .col-sm-3 { width: 200px; padding: 0; }
    .col-sm-12 { padding: 0; }
    .zyxel-grid-style {
      font-size: 14px;
      border-radius: 4px;
      &.small {
        .zyxel-grid-head-s { width: 30%; }
        .zyxel-grid-body-s {
          width: 70%;
          display: inline-block;
          .title {
            color: $zyxel_color4;
            padding: 10px 0;
            word-wrap: break-word;
          }
          .value { color: $zyxel_color2; }
        }
      } // &.small
      &.large {
        .title {
          width: 80%;
          color: $zyxel_color4;
          padding: 10px 0;
        }
        .value {
          width: 80%;
          color: $zyxel_color2;
        }
        .total-available-capacity {
          height: 70px;
        }
        .volumes-available-capacity {
          padding: 10px 0 0 0;
          .volume-info {
            padding: 0px 15px;
            .volume-info-identity {
              width: 130px;
              // float: left;
              padding: 0;
              .volume-name {
                border-radius: 4px;
                padding: 5px;
                // float: left;
              }
            } // .volume-info-identity
            .volume-info-size-bar {
              padding: 4px 10px;
              .volume-total {
                height:20x;
                border: 2px solid $zyxel_color8;
                &.warning { border: 2px solid $zyxel_color9; }
                .volume-used {
                  background-color: $zyxel_color8;
                  height:20px;
                  color: $zyxel_color2;;
                  &.warning { background-color: $zyxel_color9; }
                }
              }
            } // .volume-info-size-bar
            .volume-info-size-num {
              padding-left: 0;
              .volume-size { padding: 5px; }
            } // .volume-info-size-num
          } // .volume-info
        }
      } // &.large

      .icon {
        float: left;
        width: 55px;
        height: 70px;
        &.raid-status {
          background: image-url('raid_status_g.png') center no-repeat;
          &.warning { background: image-url('raid_status_o.png') center no-repeat; }
        }
        &.cpu-temp {
          background: image-url('cpu_temp_g.png') center no-repeat;
          &.warning { background: image-url('cpu_temp_o.png') center no-repeat; }
        }
        &.fan-speed {
          background: image-url('fan_speed_g.png') center no-repeat;
          &.warning { background: image-url('fan_speed_o.png') center no-repeat; }
        }
        &.available-capacity {
          background: image-url('available_capacity_g.png') center no-repeat;
          &.warning { background: image-url('available_capacity_o.png') center no-repeat; }
        }
        &.volume {
          height: 30px;
          background: image-url('volume.png') center no-repeat;
        }
      }



    } // .zyxel-grid-style
  } // .device_info_area

  // fix loading icon position
  div[ng-switch-when="loading"] {
    img {
      padding: 0 6px 0 0;
    }
  }
  .device_info_btn_area {
    border-bottom: 1px solid $zyxel_color4;
    padding:10px 0 20px 0;
    .area_open_btn {
      cursor: pointer;
      padding: 25px;
      background: image-url("arrow_down.png") no-repeat center;
    }
    .area_close_btn {
      cursor: pointer;
      padding: 25px;
      background: image-url("arrow_up.png") no-repeat center;
    }
  } // .device_info_btn_area

} // .zyxel_table_style3


.zyxel_table_style4 {
  margin-top: 15px;
  td {
    border-bottom: none;
    color: $zyxel_color2;
    padding: 3px 0;
    &.gray {
      color: #616161;
      font-size: 16px;
    }
    &.blue {
      color: $zyxel_color4;
      font-size: 16px;
      white-space: nowrap;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block;
      max-width:450px;
    }
    .device_info {
      padding-right: 10px;
      color: $zyxel_color2;
    }
  }
}