// -------------------------------------
//   Page: sign in
//
//   # Path: (unauthenticated_root),
//           /users/sign_up
// -------------------------------------

.signupForm {
  border: none;
  margin: 50px 0 0;
  header {
    position: relative;
    padding: 28px 0 23px 0;
    border-bottom: 2px solid $zyxel_color4;
    text-align: center;
    color: $zyxel_color4;
    font-size: 32px;
    &:after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 50%;
      width: 0;
      height: 0;
      margin-left: -8px;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid $zyxel_color4;
    }
  }
}
.signup_cont {
  padding: 8% 7% 7% 7%;
}
.divider {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  div {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 15px;
    &.or{
      -webkit-flex:1;
      -ms-flex:1;
      flex: 1;
      color: $zyxel_color2
    }
    &:not(.or) {
      -webkit-flex:4;
      -ms-flex:4;
      flex:4;
      border-bottom: 1px solid $zyxel_color3;
      margin-bottom: 10px;
    }
  }
}
.login_footer {
  border-top: 1px solid $zyxel_color3;
  padding-top: 14px;
  a span{
    display: inline-block;
    width: 175px;
    margin: -25px 0px 0px;
    padding: 0 0 0 35px;
    font-size: 14px;
    color: $zyxel_color2;
    background-repeat: no-repeat;
    background-position: 7px center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow : ellipsis;
    @include transition(color, .3s);
      &:hover {
        color: $zyxel_color4;
      }
  }
}
.sign_up_wrap{
  .login_footer_account {
    background-image: image-url("get_account.png");
  }
}
.sign_up_wrap, .forgot_password_wrap{
  display: inline-block;
  position: relative;
  padding:3px 15px;
  width: 50%;
  > a:hover + .hover_pop{
    visibility: visible;
    // Fix absolute
    top: 100%;
    left: 0;
  }
}
.forgot_password_wrap{
  float: left;
  border-right: 1px solid $zyxel_color3;
  .login_footer_forgot {
    background-image: image-url("forgot_password.png");
  }
}