// -------------------------------------
//   Page: upnp
//
//   # Path: /upnp
// -------------------------------------

.zyxel_table_style5{
  margin-top: 25px;
  width:100%;/* modify0815 */
  text-align:center;/* modify0815 */
  .upnp.service_list_name{text-decoration: underline;}
  th {
    color: $zyxel_color2;
    border-bottom: 2px solid #99C8E9;
    text-align: center;
    padding: 0 5px 15px 5px;
    font-weight: normal;
  }
  tr:nth-child(even) {
    background-color: #ebf4fb;
  }
  td {
    height: 62px;
    padding-right: 10px;
    color: $zyxel_color2;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 5px;
    .update_result { min-width: 90px; }
    &.column1, &.column2 { text-align: center; }
    .column3 { text-align: left; }
    a {
      color: $zyxel_color2;
      &:hover {
        color:#EE7532;
        text-decoration:none;
      }
    }
    span {
      &.green {
        color: $zyxel_color4;
        &:before {
          content: "\2713";
          padding-right: 3px;
        }
      }
      &.red {
        color: $zyxel_star;
        &:before {
          content: "\2717";
          padding-right: 5px;
        }
      }
    }
  }
  div[ng-switch] {
    margin-left: 8px;
  }
  input[type="text"] {
    border: 1px solid $zyxel_color2;
    height: 33px;
    width: 50%;
    outline: none;
    padding: 0 13px;
    -webkit-appearance: none;
    -moz-appearance: none;
    @include border-radius(5px);
  }
  input[type="checkbox"] {
    & + div[ng-switch-when] {
      width:50px;
      height:20px;
      label span {
        display:inline-block;
        width:50px;
        height:20px;
        vertical-align:middle;
        cursor:pointer;
        margin-right:8px;
      }
      &[ng-switch-when="false"] label span {
        background:image-url("switch_off.png") left center no-repeat;
      }
    }
    &:checked + div[ng-switch-when] {
      &[ng-switch-when="false"] label span {
        background:image-url("switch_on.png") left center no-repeat;
      }
    }
  }
}