<li>
  <h2>การตั้งค่า UPnP</h2>
  <article>
    <p>
      จากนั้น myZyXELcloud จะซิงค์การตั้งค่า UPnP
    </p>
    <%= image_tag 'help/th/my_device-1.png'%>
    <p>
      myZyXELcloud จะแสดงรายชื่อบริการ UPnP ทั้งหมดที่ติดตั้งอยู่บนอุปกรณ์ของคุณ โปรดเลือกบริการที่คุณต้องการที่จะเปิดใช้งานหรือปิดใช้งาน
    </p>
    <%= image_tag 'help/th/upnp-1.png'%>
    <p>
      myZyXELcloud จะตอบสนองกับผลการปรับปรุงการตั้งค่า UPnP (ตัวอย่างเช่น บริการเว็บ HTTP NAS540 พอร์ตเริ่มต้นคือ 8000 โปรดป้อน URL เป็น http: // YourName: 8000, และ ownCloud เป็น http://yourname.zyxel.me:5000/pkg/ownCloud/, FTP เป็น ftp://yourname.zyxel.me)
    </p>
    <%= image_tag 'help/th/upnp-2.png'%>
    <p>
      ขอแสดงความยินดีด้วย คุณจะมองเห็นอุปกรณ์ที่จับคู่ภายใน “My Devices (อุปกรณ์ของฉัน) ”ในตอนนี้
    </p>
    <%= image_tag 'help/th/my_device.png'%>
  </article>
</li>