<li>
  <h2>UPnP Setting</h2>
  <article>
    <p>
      Next, myZyXELcloud will synchronize UPnP settings
    </p>
    <%= image_tag 'help/en/my_device-1.png'%>
    <p>
      myZyXELcloud will lists all UPnP services that already installed on your device, please select which service(s) you would like to enable or disable.
    </p>
    <%= image_tag 'help/en/upnp-1.png'%>
    <p>
      myZyXELcloud will respond with the updated results of UPnP settings,(example: NAS540 HTTP web service default port is 8000, please enter the URL as http://yourname:8000, and ownCloud is http://yourname.zyxel.me:5000/pkg/ownCloud/, FTP is ftp://yourname.zyxel.me)
    </p>
    <%= image_tag 'help/en/upnp-2.png'%>
    <p>
      Congratulations, you can see paired device under “My Devices” now.
    </p>
    <%= image_tag 'help/en/my_device.png'%>
  </article>
</li>