<h1>UPnP</h1>
<div class="upnp">

  <%# display name of device %>
  <div class="sub-breadcrumb">
    <%= @device.model_name + "> UPnP setting" %>
  </div>

  <%# Pairing information %>
  <div class="pairing-info" ng-switch on="step">
    <center>
      <div ng-switch-when="pairing">正在同步裝置的UPnP設定中</div>
      <div ng-switch-when="failure">目前偵測不到您的裝置，請確認裝置是否連上線</div>
    </center>
  </div>
  <%# Pairing information - end %>

  <%# Bottom content include loading image and retry button %>
  <div class="pairing-panel" ng-switch on="panel">
    <center>
      <div ng-switch-when="pairing">
        <%= image_tag 'loading.gif', size: "60" %>
      </div>
      <div ng-switch-when="retry">
        <button class="btn btn-primary" ng-click="reconnet()">Retry</button>
        <%= link_to("Cancel", "/personal/index", class: "btn btn-default") %>
      </div>
    </center>
  </div>
  <%# Bottom content include loading image and retry button - end %>
  
</div>
