<% provide(:flow, I18n.t("titles.terms")) %>
<div class="zyxel_content">

  <div class="agree_note_box">
    <% if I18n.locale.to_s  == "zh-TW" %>
      <%= render "hint/terms/zh_TW" %>
    <% else %>
      <%= render "hint/terms/en" %>
    <% end %>
  </div>

    <div class="zyxel_btn_area">
      <a class="zyxel_btn_ok" href="#" onclick="window.close();"><%= I18n.t("labels.confirm") %></a>
    </div>
</div>