- content_for :title, I18n.t('titles.sign_up')

- content_for :precontent do
  .process_indicator_wrapper
    %svg.process_indicator
      %circle.circle1.apply_theme
      %line.apply_theme{:x1 => 28, :y1 => 15, :x2 => 38, :y2 => 15}
      %circle.circle2.apply_theme
      %line.apply_gray{:x1 => 62, :y1 => 15, :x2 => 72, :y2 => 15}
      %circle.circle3.apply_gray

.content_wrapper
  .inner_title
    %h4
      = fa_icon('check-circle-o')
      = I18n.t("devise.confirmations.resend")
    %p
      = I18n.t("devise.confirmations.confirm_sent")
  .spacer{ :style => "height: 220px;" }

  = link_to I18n.t("labels.ok"), destroy_user_session_path, class: 'btn btn-custom btn-block'