<% provide(:flow, I18n.t("titles.forgot_password")) %>

<div class="zyxel_content">
  <%# need-add-i18n %>
  <h2 class="zyxel_h2_icon_small">Your password has been reset</h2>

  <span class="zyxel_span3"><%= session[:notice] %></span>

  <div class="zyxel_btn_area">
    <%= link_to I18n.t("labels.confirm"), "/", class: "zyxel_btn_ok" %>
  </div><!-- zyxel_btn_area -->

</div><!-- content -->