<% provide(:disable_alert, "hidden") %>
<% provide(:flow, I18n.t("titles.forgot_password")) %>

<div class="zyxel_content">
  <h2 class="zyxel_h2_icon_small"><%= I18n.t("warnings.forgot_password") %></h2>

  <span class="zyxel_span3"><%= session[:notice] %></span>

  <div class="zyxel_btn_area">
    <%= link_to I18n.t("labels.confirm"), "/", class: "zyxel_btn_ok" %>
  </div><!-- zyxel_btn_area -->

</div><!-- content -->