<%# need-add-i18n %>
<% provide(:flow, "Reset Password") %>

<div class="zyxel_content">
  <%# need-add-i18n %>
  <h2 class="zyxel_h2_icon_small">已將確認信寄出</h2>
 
  <span class="zyxel_span3"><%= session[:notice] %></span>

  <div class="zyxel_btn_area">
    <%= link_to I18n.t("labels.resend_confirmation"), new_user_password_path, class: "zyxel_btn_submit_gray zyxel_resend_btn" %>
    <%# need-add-i18n %>
    <%= link_to "Confirm", "/", class: "zyxel_btn_ok" %>
  </div><!-- zyxel_btn_area -->

</div><!-- content -->