<div class="devices_list">
  <div class="device">
    <div class="device_img">
      <%= image_tag 'tmp.jpg', size: "60" %> 
    </div>
    <div class="device_name">ZyXEL Device name</div>

    <% if request.fullpath =~ /pairing\/index/ %>
      <div class="device_btn">
      	<button class="btn btn-default">裝置配對</button>
      </div>
  	<% end %>

  </div>
</div>