<h1>Manually Add Device</h1>
<div class="pairing">
	<div class="sub_title">手動加入裝置</div>

	<div class="device_info">
		<div class="form-group">
			<div class="tmp-form">
			  
			  <div>
			    <label for="mac_address">Mac Address</label>
          <input id="mac_address">
        </div>

        <div>
          <label for="serial_number">Serial Number</label>
          <input id="serial_number">
        </div>

        <div class="bottom-content">
        	<button class="btn btn-primary">新增</button>
        	<button class="btn btn-default">取消</button>
        </div>
      </div>
		</div>
	</div>
</div>
