<h1>Manually Add Device</h1>
<div class="pairing">
	<div class="sub_title">手動加入裝置</div>

	<div class="device_info">
		<div class="form-group">
			<div class="tmp-form">
			  
        <%= simple_form_for @device, :url => '/pairing/search' do |f| %>
          <%= f.input :mac_address, wrapper_html: { class: 'username' } %>
          <%= f.input :serial_number, wrapper_html: { id: 'password' } %>
          <%= f.button :submit %>
        <% end %>

      </div>
		</div>
	</div>
</div>
