<h1>Pairing</h1>
<div class="pairing">
  <div class="sub_title">裝置配對</div>
	
	<div id="pairing-info">請問您是否要與此裝置進行配對動作？</div>
	<div class="bottom-content">
  	<button class="btn btn-primary">正確</button>
  	<button class="btn btn-default">取消</button>
  </div>
</div>
