<h1>Find devices</h1>
<div class="pairing" ng-app="device_list_app" ng-controller="DeviceListCtrl">

  <%# Top content - result text and re-find button %>
  <div class="top-content row">
    <div class="result_text col-xs-7 col-sm-7">
  	  搜尋結果
    </div>
    <div class="col-xs-5 col-xs-5">
      <button class="btn btn-deafult" ng-click="doClick()">重新搜尋</button>
    </div>
  </div>
  <ul class="devices_list" class="list-unstyled">
    <li class="device" ng-repeat="device in devices">
        <div class="device_img">
          <img ng-src="{{device.img_url}}" style="width:100px;">
        </div>
        <div class="device_name">{{device.product_name}}</div>
        <div class="device_btn">
          <a href="/pairing/check/{{device.device_id}}" class="btn btn-default" >裝置配對</a>
        </div>
    </li>
  </ul>
  <%# Top content end %>
  <%# device list is render from pairing/shard folder %>
	<%# render 'pairing/shared/device_list' %>
	<%# device list end %>

	<%# bottom content - Manually Add button %>
	<div class="bottom-content">
		<%= link_to('手動加入裝置', "/pairing/add/", class: "btn-primary") %>
	</div>
	<%# bottom content %>
  <script type="text/javascript">
    
    var device_list_app = angular.module('device_list_app', []);
    device_list_app.controller('DeviceListCtrl', function ($scope, $http) {
      $scope.devices = <%= @result.html_safe %>;
      $scope.doClick = function() {
        
        $scope.devices = [];
        $http.get("/pairing/index.json").success(function(response) {
          $scope.devices = response;
          console.log(response);
        });

        // var responsePromise = ;
        // responsePromise.success(function(data, status, headers, config) {
        //             // $scope.devices.fromServer = data.title;
        //   $scope.devices = data;
        // });
      }
    });
  </script>
</div>
