<h1>Unpairing</h1>

<div class="unpairing">
 
  <%# display the unpairing device %>
  <div class="device">
    <div class="device-img">
      <%= image_tag @device.product.asset.url %>
    </div>
    <div class="device-name">
      <%= @device.model_name %>
    </div>
  </div>

  <%# unpairing information %>
  <div class="info">已取消與此裝置之配對</div>
  <%# unpairing information - end %>

  <%= link_to "確定", "/personal/index", class: "btn btn-primary" %>
</div>