<% provide(:flow, @device.model_name + "," + I18n.t("titles.pairing")) %>
<% provide(:tab, 'search') %>

<h2 class="zyxel_h2_icon1">
  <%= image_tag @device.product.asset.url :medium %>
  <%= @device.product.name %>
</h2>