<li>
  <h2>Edit cloud user profile and change password</h2>
  <article>
    <p>
      Please press the user icon<i class="member_icon"></i>on the right hand side after you have signed in myZyXELcloud.
    </p>
    <%= image_tag 'help/en/edit_profile-0.png' %>
    <p>
      Input current password and new password for changing your account password.
    </p>
    <%= image_tag 'help/en/change_Password-1.png'%>
    <p>
      Edit cloud user profile
    </p>
    <%= image_tag 'help/en/edit_profile.png'%>
  </article>
</li>