<li>
  <h2>แก้ไขโปรไฟล์ผู้ใช้งานคลาวด์และเปลี่ยนรหัสผ่าน</h2>
  <article>
    <p>
      กรุณากดที่ไอคอนของผู้ใช้<i class="member_icon"></i>บนด้านขวามือหลังจากที่คุณได้เข้าสู่ระบบใน myZyXELcloud
    </p>
    <%= image_tag 'help/th/edit_profile-0.png' %>
    <p>
      ใส่รหัสผ่านปัจจุบันและรหัสผ่านใหม่สำหรับการเปลี่ยนรหัสผ่านของบัญชีของคุณ
    </p>
    <%= image_tag 'help/th/change_Password-1.png'%>
    <p>
      แก้ไขโปรไฟล์ผู้ใช้งานคลาวด์
    </p>
    <%= image_tag 'help/th/edit_profile.png'%>
  </article>
</li>