<p>
  เรียน ลูกค้าที่มีคุณค่ายิ่ง,<br><br>

  เวลาที่อัปเดตล่าสุด <%= @last_signout_at %> อุปกรณ์ของคุณต้องรายงานออนไลน์อย่างน้อยภายใน 60 วัน ชื่อเซอร์เวอร์ DDNS จะไม่ถูกลบออกจากระบบของเรา<br>
  หากคุณยังคงต้องการใช้ "<%= @full_domain %>" และไม่ต้องการให้ชื่อนี้ถูกลบออกจากระบบของเรา โปรดเชื่อมต่ออุปกรณ์ ZyXEL ของคุณเข้ากับอินเทอร์เน็ต<br>
  ถ้าคุณไม่ได้ใช้ชื่อ "<%= @full_domain %>" นี้อีกต่อไปแล้ว ไม่ต้องใส่ใจข้อความนี้ ชื่อเซอร์เวอร์ของคุณจะถูกลบออกจากระบบของเราใน 30 วัน<br><br>

  ขอแสดงความนับถือ<br>
  ผู้ดูแลระบบ myZyXELcloud<br>
  ZyXEL Communications Corp.<br><br>
</p>