<p>
  Sehr geehrter Kunde,<br><br>

  das letzte Update war am <%= @last_signout_at %>. Ihr Netzwerk muss spätestens alle 60 Tage ein Update senden. Der DDNS<br>
  Server Name  wird nach 60 Tagen ohne Update vom System entfernt.<br>
  Wenn Sie die Adresse <%= @full_domain %> noch nutzen und die Adresse behalten möchten, lassen Sie Ihr ZyXEL Produkt bitte die Adresse updaten und stellen Sie mit dem Produkt<br>
  eine Verbindung zum Internet her.<br>
  Wenn Sie <%= @full_domain %> nicht mehr nutzen möchten, ignorieren Sie bitte diese Nachricht, Ihr Name wird nach 30 weiteren Tagen automatisch entfernt.<br><br>

  Mit freundlichen Grüßen,<br>
  myZyXELcloud Administrator<br>
  ZyXEL Communications Corp.<br><br>
</p>