<p>
  Geachte klant,<br><br>

  De laatste update tijd is <%= @last_signout_at %>. Uw apparatuur moet teminste 60 dagen online verschijnen om te zorgen dat de DDNS-naam niet verwijderd wordt uit ons systeem.<br>
  Als u wenst om "<%= @full_domain %>" te blijven gebruiken en niet wilt dat deze naam wordt verwijderd uit ons systeem, sluit uw ZyXEL apparatuur aan het internet aan.<br>
  Als u niet wenst langer gebruik te maken van "<%= @full_domain %>", dan kunt u dit bericht negeren, uw naam zal na 30 dagen verwijderd worden uit ons systeem.<br><br>

  Met vriendelijke groeten,<br><br>

  myZyXELcloud Administrator<br>
  ZyXEL Communications Corp.<br><br>
</p>