<p>
  Tisztelt Ügyfelünk!<br><br>

  A legutóbbi frissítés ideje <%= @last_signout_at %>. Az eszközének legalább 60 naponta online kell lennie. A DDNS szerver neve nem lesz eltávolítva a rendszerünkből.<br>
  Ha továbbra is használni szeretné a “<%= @full_domain %>” címet és nem szeretné, hogy ez a szervernév eltávolításra kerüljön a rendszerünkből, kérjük, csatlakoztassa ZyXEL eszközét az internetre.<br>
  Amennyiben már nem használja a “<%= @full_domain %>” szervernevet, kérjük, tekintse tárgytalannak ezt az üzenetet. A szervernév 30 nap múlva eltávolításra kerül rendszerünkből.<br><br>

  Üdvözlettel:<br>
  myZyXELcloud rendszergazda<br>
  ZyXEL Communications Corp.<br><br>
</p>