<p>
  Dear <%= @user.first_name %>,<br><br>

  The latest update time is <%= @last_signout_at %>. Your equipment needs report online at least in 60 days. The DDNS sever name wouldn’t be remove from our system.<br>
  If you still need to use “<%= @full_domain %>” and didn’t want this sever name be removed out from our system, please connect your ZyXEL equipment to internet.<br>
  if you do not using “<%= @full_domain %>” this sever name anymore, please ignore this message, your sever name will remove out from our system in 30days.<br><br>

  Best Regards,<br>
  myZyXELcloud Administrator<br>
  ZyXEL Communications Corp.<br><br>
</p>