<p>
  Drogi Użytkowniku,<br><br>

  Czas ostatniej aktualizacji to <%= @last_signout_at %>. Sprzęt musi pojawić się w Internecie przynajmniej raz na 60 dni. Nazwa serwera DDNS nie zostałaby usunięta z naszego systemu.<br>
  Jeżeli nadal chcesz używać nazwy „<%= @full_domain %>” i nie wyrażono zainteresowania usunięciem nazwy serwera z naszego systemu, proszę podłączyć sprzęt ZyXEL do Internetu.<br>
  Jeżeli nie korzystasz już z nazwy serwera „<%= @full_domain %>”, prosimy zignorować tę wiadomość, a nazwa serwera zostanie usunięta z systemu w ciągu 30 dni.<br><br>

  Pozdrawiamy,<br>
  Administracja myZyXELcloud<br>
  ZyXEL Communications Corp.<br><br>
</p>