<h1>DDNS Setting</h1>
<div class="ddns">
  <%# display name of device %>
  <div class="sub-breadcrumb">
    <%= @device.model_name + "> DDNS setting" %>
  </div>

  <div class="setting-form">
    
  </div>
</div>
