// -------------------------------------
//   Partials: form
// -------------------------------------

.input_style1  {
  height: 40px;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  color: $zyxel_color2;
  margin-bottom: 7px;
  width: 100%;
  margin-top: 7px;
  padding: 0 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid $zyxel_color3;
  @include border-radius(5px);
  @include transition(all, 0.15s, ease);
  &:focus {
    border-color:$zyxel_color1;
  }
}
.input_captcha {
  width: 45%;
  margin-right: 10px;
}
.input_error > input {
  border: 1px solid $zyxel_color1;
}