// -------------------------------------
//   Partials: table
// -------------------------------------

.zyxel_table_style {
  width: 100%;
  margin-bottom: 20px;
  th {
    text-align: right;
    color: $zyxel_color2;
    // color: #000;
    font-weight: normal;
    padding: 12px 12px 0 0;
    width: 25%;
    vertical-align: top;
    height: 40px;
    label{
      display: inline;
    }
  }
  td { color: $zyxel_color2; }
  .password_suggestion {
    // Ref .zyxel_note p:not(.please)
    &:before {
      content: "\2713";
      padding-right: 2px;
    }
    font-size: 0.8em;
    line-height: 1.5em;
    margin-left: 5px;
  }
  .entropizer-track {
      background-color: #e8e8e8;
      border-radius: 2px;
      height: 4px;
  }
  .entropizer-bar {
      height: 4px;
  }
  .fb_primary_mail {
    position: absolute;
    margin: 0 15px;
    color: #34d9c3;
  }
  th span { color: $zyxel_star; }
  .width25 { width: 25%; }
  .error {
    hight: auto;
    .zyxel_arlert_area { margin-bottom: 0px; }
  }
}
.zyxel_table_style1 {
  th {
    width: 30%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #EEE;
    text-align: left;
    padding-left: 30px
  }
  td {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #EEE;
  }
}
.checkbox span{
  color: $zyxel_star;
}

