// -------------------------------------
//   Partials: text
// -------------------------------------

/* Fix for chrome resize issue */
.nav .dropdown>a,
.zyxel_btn_login_submit,
.btn-group,
.table_btn_area,
.zyxel_btn_main,
.zyxel_btn_area,
.zyxel_btn_style1,
.zyxel_btn_style2{
  overflow: hidden;
}
.zyxel_bread {
  color: $zyxel_color4;
  background-image: inline-image("location.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
  border-bottom: 2px solid $zyxel_color4;
  line-height: 35px;
  margin: 0 auto 45px auto;
  max-width: 580px;
  margin-top: 20px;
  font-size: 16px;
  span+.last {
    font-weight: 500;
    color: #A0A0A0;
  }
}
.zyxel_h2{
  color: $zyxel_color4;
  font-size: 33px;
  margin: 0 0 10px 0;
  line-height: 40px;
}
.zyxel_h2_icon {
  color: $zyxel_color4;
  font-size: 28px;
  background-image: image-url("ok_icon.png");
  background-repeat: no-repeat;
  background-position: left 8px;
  padding-left: 33px;
  margin: 0 0 10px 0;
  line-height: 40px;
}
.zyxel_h2_icon_small {
  color: $zyxel_color4;
  font-size: 25px;
  background-image: image-url("ok_icon.png");
  background-repeat: no-repeat;
  background-position: left 8px;
  padding-left: 33px;
  margin: 0 0 10px 0;
  line-height: 40px;
}
.zyxel_h2_icon1 {
  color: $zyxel_color4;
  font-size: 28px;
  margin: 0 0 10px 0;
  line-height: 40px;
  padding: 10px 0;
}
.zyxel_span1  {
  color: $zyxel_color5;
  font-size: 23px;
  line-height: 20px;
  letter-spacing: .5px;
}
.zyxel_span2 {
  color: $zyxel_color5;
  font-size: 19px;
  line-height: 28px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  max-width:500px;
}
.zyxel_span3 {
  color: $zyxel_color5;
  font-size: 17px;
  line-height: 28px;
}
.waiting .zyxel_span4{
  color: $zyxel_color5;
  font-size: 19px;
  background-image: image-url("info_icon.png");
  background-repeat: no-repeat;
  background-position: left 2px;
  padding-left: 32px;
  text-align: left;
  padding-bottom: 25px;
  line-height: 28px;
}