magic_number: 890980
api:
  stun_ip_addresses:
    - ec2-54-85-72-999.compute-1.amazonaws.com
    - ec2-107-21-4-999.compute-1.amazonaws.com
xmpp:
  server: mongooseim
  device_resource_id: device
  bots:
    - bot01@mongooseim
    - bot02@mongooseim
    - bot03@mongooseim
    - bot04@mongooseim
    - bot05@mongooseim
    - bot06@mongooseim
    - bot07@mongooseim
    - bot08@mongooseim
  nodes:
    - ec2-54-85-72-129.compute-1.amazonaws.com
    - ec2-107-21-4-229.compute-1.amazonaws.com
environments:
  name: 'production'
  api_domain: 'sso.lovefunthing.com'
  portal_domain: 'sso.lovefunthing.com'
  ga_tracker: 'UA-57135359-1'
  paperclip:
    default:
      storage: :s3
      s3_credentials:
        bucket: 'sso.lovefunthing.com'
        access_key_id: <%= ENV["AWS_ACCESS_KEY_ID"] %>
        secret_access_key: <%= ENV["AWS_SECRET_ACCESS_KEY"] %>
    attachment:
      default:
        s3_host_name: 's3-us-west-2.amazonaws.com'
        path: '/:class/:attachment/:id_partition/:style/:filename'
  sqs:
    bot_jobs:
      name: 'pcloud-bot-jobs-prod'
    push_jobs:
      name: 'Cloud-Push-Jobs-Prod'
    attributes:
      access_key_id: <%= ENV["AWS_ACCESS_KEY_ID"] %>
      secret_access_key: <%= ENV["AWS_SECRET_ACCESS_KEY"] %>
      region: 'us-east-1'
  ddns: 'lovefunthing.com'
  upnp:
    random_port_max: '10000'
    random_port_min: '6000'
  cdn: 'https://d3k0gq7ryrjfe4.cloudfront.net'
  zones_info:
    id: 'Z1LTE4IQLEVG76'
    name: 'lovefunthing.com'
  filter_list:
    - api
    - www
    - dns
    - ddns
    - upnp
    - blog
    - zyxel
    - store
    - host
    - support
    - service
    - services
    - sso
    - portal
    - calvin
oauth:
  facebook_app_id: <%= ENV['FACEBOOK_APP_ID'] %>
  facebook_secret: <%= ENV['FACEBOOK_APP_SECRET'] %>
  google_app_id: <%= ENV['GOOGLE_APP_ID'] %>
  google_secret: <%= ENV['GOOGLE_APP_SECRET'] %>
recaptcha:
  config:
    public_key: <%= ENV['RECAPCHA_PUBLIC_KEY'] %>
    private_key: <%= ENV['RECAPCHA_PRIVATE_KEY'] %>
redis:
  web_host: redis
  xmpp_host: redis
  port: 6379
oauth_applications:
  account: 'admin'
  password: 'ecowork'
vendors:
  data_safe_period: '10'
  asi:
    vpcName: 'ZYX'
    host: 'http://asicloud-beta.aethersi.com:10980'
    account: 'zyxoperator'
    password: 'zyxoperator'
