@import "bootstrap";

.title, .language {
  color: #fff;
  padding: 10px 30px;
  margin: 0;
}

.pairing-info {
  background-color: #FFED97;
  padding: 10px;
  margin: 10px 0;
  .warning {
    color: #FF0000;
    display: inline;
  }
}