@import "bootstrap";

$zyxel_white: #ffffff;
$zyxel_star: #ff4338;
$zyxel_color1: #F0E049; // orange
$zyxel_color2: #999999; // gray
$zyxel_color3: #d8d8d8; // light gray
$zyxel_color4: #34d9c3; // blue
$zyxel_color5: #838383; // dark gray
$zyxel_color6: #b8ebe3; // light gray

html, body {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif, "微軟正黑體";
  font-weight: normal;
  letter-spacing: .3px;
}
body {
  background: -moz-linear-gradient(top,  #ffffff 0%, #fafffe 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fafffe)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#fafffe 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#fafffe 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#fafffe 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#fafffe 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fffaf1',GradientType=0 ); /* IE6-9 */
}

// changed
.alert_info {
  max-width: 580px;
  margin: 0 auto;
}

.index {
  max-width: 650px;
  margin: 50px auto;
}
.index a{
  font-size: 30px;
  display: block;
  margin: 5px 0;
  color: #B1B1B1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DCDCDC;
  text-decoration: none;
}
.index p {
  font-size: 24px;
  display: block;
  margin: 10px 0;
  color: #333;
  /* [disabled]border-bottom-width: 1px; */
  /* [disabled]border-bottom-style: solid; */
  /* [disabled]border-bottom-color: #DCDCDC; */
}
.index a:hover{
  color:$zyxel_color1;
}
.header {
  height: 80px;
}
.header h1 {
  float: left;
}
.zyxel_content{
  max-width: 480px;
  margin: 0 auto;
}
.nav_zyxel {
  float: right;
  margin-top: 20px;
}
/*.caret_zyxel {
  background-image: image-url("caret_zyxel.png");
  background-repeat: no-repeat;
  background-position: right center;
  width: 10px;
  height: 7px;
  display: inline-block;
}*/
.dropdown-toggle:after{
  display: inline-block;
  content: "›";
  padding: 0px 0px 0px 2px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.nav_zyxel .dropdown{
  border: 1px solid $zyxel_color3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 10px;
}
.nav .dropdown>a{
  background-color: $zyxel_white;
  transition: background .3s;
  -webkit-transition: background .3s; /* Chrome & safari */
  -moz-transition: background .3s; /* firefox */
  -o-transition: background .3s;
}
.nav .dropdown>a:hover, .nav .dropdown>a:focus{
  color:$zyxel_white;
  background-color: $zyxel_color4;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus{
  background-color: $zyxel_color4;
}
.dropdown-menu{
  right:0;
  left: inherit;
}
.nav_zyxel li a{
  color: $zyxel_color2;
  font-weight: normal;
}
.nav_zyxel .dropdown-menu li a{
  color: $zyxel_color2;
  font-weight: normal;
  font-size: 13px;
  line-height: 2em;
}


.nav-pills > li > a.member {
  border-radius: 0px;
  background-color: transparent;
}
.nav-pills > li.active > a.member,
.nav-pills > li.active > a.member:hover,
.nav-pills > li.active > a.member:focus {
  background-color: transparent;
}
.nav>li>a.member{
  padding: 0;
  margin-right: 8px;
  background-image: image-url("member1.png");
  background-repeat: no-repeat;
  background-position: center top;
  width: 35px;
  height: 34px;
}
.nav > li > a.member:hover,
.nav > li > a.member:focus {
  text-decoration: none;
  background-color: transparent;
  background-position: center bottom;
}
.nav>li>a.sign_out{
  border: 1px solid $zyxel_color3;
  transition: background .3s;
  -webkit-transition: background .2s, color .2s; /* Chrome & safari */
  -moz-transition: background .2s, color .2s; /* firefox */
  -o-transition: background .2s, color .2s;
}
.nav > li > a.sign_out:hover,
.nav > li > a.sign_out:focus {
  text-decoration: none;
  background-color: $zyxel_color4;
  color: $zyxel_white;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: $zyxel_white;
  text-decoration: none;
  background-color: $zyxel_color4;
}
.nav > li > a.member:hover,
.nav > li > a.member:focus {
  text-decoration: none;
  background-color: transparent;
}
.zyxel_tab {
  max-width: 320px;
  margin: 35px auto;
  clear: both;
}
.zyxel_tab_btn {
  line-height: 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* Fix for chrome resize issue */
.nav .dropdown>a,
.zyxel_btn_login_submit,
.btn-group,
.table_btn_area,
.zyxel_btn_main,
.zyxel_btn_area,
.zyxel_btn_style1,
.zyxel_btn_style2{
  overflow: hidden;
}
/*btn1*/
.btn_tab_color1 {
  color: $zyxel_white;
  background-color: $zyxel_color4;
  border-color: $zyxel_color4;
}
.btn_tab_color1:hover,
.btn_tab_color1:focus,
.btn_tab_color1:active,
.btn_tab_color1.active,
.open > .dropdown-toggle.btn_tab_color1 {
  color: $zyxel_white;
  background-color: $zyxel_color1;
  border-color: $zyxel_color1;
}
.btn_tab_color1:active,
.btn_tab_color1.active,
.open > .dropdown-toggle.btn_tab_color1 {
  background-image: none;
}

/*btn2*/
.btn_tab_color2 {
  color: $zyxel_color4;
  background-color: $zyxel_white;
  border-color: $zyxel_color4;
}
.btn_tab_color2:hover,
.btn_tab_color2:focus,
.btn_tab_color2:active,
.btn_tab_color2.active,
.open > .dropdown-toggle.btn_tab_color2 {
  color: $zyxel_color1;
  background-color: #fcfcfc;
  border-color: $zyxel_color1;
}
.btn_tab_color2:active,
.btn_tab_color2.active,
.open > .dropdown-toggle.btn_tab_color2 {
  background-image: none;
}
.zyxel_bread {
  color: $zyxel_color4;
  background-image: image-url("location.png");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
  border-bottom: 2px solid $zyxel_color4;
  line-height: 35px;
  margin: 0 auto 45px auto;
  max-width: 580px;
  margin-top: 20px;
  font-size: 16px;
  span+.last {
    font-weight: 500;
    color: #A0A0A0;
  }
}
.zyxel_h2{
  color: $zyxel_color4;
  font-size: 33px;
  margin: 0 0 10px 0;
  line-height: 40px;
}
.zyxel_h2_icon {
  color: $zyxel_color4;
  font-size: 28px;
  background-image: image-url("ok_icon.png");
  background-repeat: no-repeat;
  background-position: left 8px;
  padding-left: 33px;
  margin: 0 0 10px 0;
  line-height: 40px;
}
.zyxel_h2_icon_small {
  color: $zyxel_color4;
  font-size: 25px;
  background-image: image-url("ok_icon.png");
  background-repeat: no-repeat;
  background-position: left 8px;
  padding-left: 33px;
  margin: 0 0 10px 0;
  line-height: 40px;
}
.zyxel_h2_icon1 {
  color: $zyxel_color4;
  font-size: 28px;
  margin: 0 0 10px 0;
  line-height: 40px;
  padding: 10px 0;
}
.zyxel_span1  {
  color: $zyxel_color5;
  font-size: 23px;
  line-height: 20px;
  letter-spacing: .5px;
}
.zyxel_span2 {
  color: $zyxel_color5;
  font-size: 19px;
  line-height: 28px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  max-width:500px;
}
.zyxel_span3 {
  color: $zyxel_color5;
  font-size: 17px;
  line-height: 28px;
}
.waiting .zyxel_span4{
  color: $zyxel_color5;
  font-size: 19px;
  background-image: image-url("info_icon1.png");
  background-repeat: no-repeat;
  background-position: left 2px;
  padding-left: 32px;
  text-align: left;
  padding-bottom: 25px;
  line-height: 28px;
}
.checkbox_area label {
  color: $zyxel_color2;
  font-weight:normal;
}
.checkbox_area {
  margin-top:0px;
  margin-bottom:5px;
}
.checkbox_area a {
  color: #666666;
  text-decoration:none;
}
.checkbox_area a:hover {
  color: $zyxel_color1;
}
.checkbox_area strong {
  color: $zyxel_star;
}
// changed
.zyxel_device {
  overflow: hidden;
  padding-bottom: 10px;
  .zyxel_device_image {
    display: inline-block;
  }
  .zyxel_h2_icon1 {
    display: inline-block;
    padding-left: 10px;
  }
}


.zyxel_host_name {
  margin-bottom: 10px;
}
.zyxel_host_name input {
  border: 1px solid $zyxel_color5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 33px;
  width: 40%;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  color: #7c7c7c;
  margin-bottom: 10px;
  padding: 0 13px;
  -webkit-appearance: none  ;
  -moz-appearance: none;
}
.zyxel_host_name label {
  font-weight: normal;
}
// changed
.zyxel_note {
  color: #B2B2B2;
  .please {
    font-size: 0.9em;
    font-weight: bold;
  }
  p {
    display: inline;
  }
  p:not(.please) {
    &:before {
      content: "\2713";
      padding-right: 2px;
    }
    font-size: 0.8em;
    line-height: 1.5em;
    margin-left: 5px;
  }
}
.zyxel_btn_area {
  text-align: center;
  margin: 45px 0;
}
// For multi buttons in i18n issue
.zyxel_btn_area.i18n_fix{
  display: table;
  margin: 30px auto;
  width:315px;
  border-spacing: 6px; // For self button's margin value
  .zyxel_btn_ok, .zyxel_resend_btn, .zyxel_btn_back, .zyxel_btn_submit{
    display: table-cell;
    padding: 11px 0 13px 0;
    width:45%;
    min-width: 140px;
    vertical-align: middle;
  }
}
.zyxel_btn_back {
  background-color: #a3a3a3;
  color: $zyxel_white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 15px;
  transition: background-color .3s;
  -webkit-transition: background-color .3s; /* Chrome & safari */
  -moz-transition: background-color .3s; /* firefox */
  -o-transition: background-color .3s;
}
.zyxel_btn_back:hover {
  text-decoration:none;
  color:$zyxel_color1;
  background-color:#909090;
}
.zyxel_btn_submit {
  background-color: $zyxel_color4;
  color: $zyxel_white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 15px;
  transition: background-color .3s;
  -webkit-transition: background-color .3s; /* Chrome & safari */
  -moz-transition: background-color .3s; /* firefox */
  -o-transition: background-color .3s;
}
.zyxel_btn_submit:hover {
  text-decoration:none;
  color:$zyxel_white;
  background-color:$zyxel_color1;
}

.zyxel_btn_submit_gray {
  background-color: #a3a3a3;
  width: 45%;
  max-width:140px;
  height: 45px;
  color: #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 15px;
  transition: background-color .3s;
  -webkit-transition: background-color .3s; /* Chrome & safari */
  -moz-transition: background-color .3s; /* firefox */
  -o-transition: background-color .3s;
  margin: 0 3px;
}
.zyxel_btn_submit_gray:hover {
  text-decoration:none;
  color: $zyxel_color1;
  background-color:#909090;
}
.zyxel_btn_ok {
  display: inline-block;
  margin: 0 3px;
  padding: 11px 0 13px 0;
  width:45%;
  max-width: 140px;
  vertical-align: middle;
  color: $zyxel_white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 15px;
  background-color: $zyxel_color4;
  transition: background-color .3s;
  -webkit-transition: background-color .3s; /* Chrome & safari */
  -moz-transition: background-color .3s; /* firefox */
  -o-transition: background-color .3s;
}
.zyxel_btn_ok:hover {
  text-decoration:none;
  color:$zyxel_white;
  background-color:$zyxel_color1;
}
.zyxel_btn_main {
  background-color: $zyxel_color4;
  color: #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 11px;
  padding: 2px 12px 2px 30px;
  transition: background-color .3s;
  -webkit-transition: background-color .3s; /* Chrome & safari */
  -moz-transition: background-color .3s; /* firefox */
  -o-transition: background-color .3s;
  float: right;
  line-height: 24px;
  /* [disabled]margin-top: 4px; */
  background-image: image-url("home1.png");
  background-repeat: no-repeat;
  background-position: 10px center;
}
.zyxel_btn_main:hover {
  text-decoration:none;
  background-color:$zyxel_color1;
  color: #FFF;
}
.icon_home {
  background-image: image-url("home1.png");
}
.icon_research {
  background-image: image-url("research.png");
}
.zyxel_btn_style1 {
  background-color: transparent;
  color: $zyxel_color4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  padding: 8px 12px;
  transition: background-color .3s;
  -webkit-transition: background-color .2s, color .2s; /* Chrome & safari */
  -moz-transition: background-color .2s, color .2s;/* firefox */
  -o-transition: background-color .2s, color .2s;
  line-height: 24px;
  border-color: $zyxel_color4;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}
.zyxel_btn_style1:hover {
  text-decoration:none;
  background-color: $zyxel_color4;
  color: #FFF;
}
.zyxel_btn_style2 {
  background-color: transparent;
  color: #a3a3a3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  padding: 8px 12px;
  transition: background-color .3s;
  -webkit-transition: background-color .2s, color .2s; /* Chrome & safari */
  -moz-transition: background-color .2s, color .2s;/* firefox */
  -o-transition: background-color .2s, color .2s;
  line-height: 24px;
  border-color: #a3a3a3;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}
.zyxel_btn_style2:hover {
  text-decoration:none;
  background-color:#a3a3a3;
  color: $zyxel_color1;
}

.zyxel_table_style3 .zyxel_btn_style1, .zyxel_table_style3 .zyxel_btn_style2{
  display: inline-block;
  line-height: 18px;
  vertical-align: middle;
}
.zyxel_table_style3 .table_btn_area{
  border-bottom: 1px solid $zyxel_color6;
  padding:10px 0 30px 0;
}
.zyxel_btn_sns {
  width: 48%;
  color: $zyxel_white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 13px;
  display: inline-block;
  padding: 14px 0 14px 13px;
  transition: background-color .3s;
  -webkit-transition: background-color .3s; /* Chrome & safari */
  -moz-transition: background-color .3s; /* firefox */
  -o-transition: background-color .3s;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 10px center;
  margin:0 8px 9px 0;
  letter-spacing: 0.5px;
}
.zyxel_btn_sns:hover {
  font-weight: bold;
  text-decoration:none;
  color:$zyxel_white;
  background-color:$zyxel_color1;
}
.zyxel_btn_login_submit {
  background-color: $zyxel_color4;
  width: 100%;
  height: 40px;
  color: $zyxel_white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 15px;
  transition: background-color .3s;
  -webkit-transition: background-color .3s; /* Chrome & safari */
  -moz-transition: background-color .3s; /* firefox */
  -o-transition: background-color .3s;
  margin-bottom: 20px;
}
.zyxel_btn_login_submit:hover {
  font-weight: bold;
  text-decoration:none;
  color:$zyxel_white;
  background-color:$zyxel_color1;
}
.zyxel_btn_submit.disabled, .zyxel_btn_login_submit.disabled {
  background-color: #F0F0F0;
  color: #CCC;
  cursor: no-drop;
}
.sns_sign {
  text-align: center;
}
.sns_fb {
  background-color: #3A5794;
  background-image: image-url("fb.png");
}
.sns_twitter {
  background-image: image-url("twitter.png");
}
.sns_google {
  background-color: #dd4b39;
  background-image: image-url("google.png");
}
.zyxel_arlert_area{
  margin-bottom: 15px;
}

// changed
.zyxel_arlert_area .error_message{
  background-image: image-url("alert.png");
  background-repeat: no-repeat;
  background-position: left center;
  color: #eb132b;
  font-size: 15px;
  line-height: 12px;
  padding: 5px 0 5px 27px;
  font-weight: normal;
}
.zyxel_smallok_area{
  margin-bottom: 15px;
}
.zyxel_smallok_area span{
  background-image: image-url("ok_small.png");
  background-repeat: no-repeat;
  background-position: left center;
  color: $zyxel_color1;
  font-size: 15px;
  line-height: 12px;
  padding: 5px 0 5px 27px;
}
.signupForm {
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 50px 0 0;
}
.signupForm header {
  position: relative;
  padding: 28px 0 23px 0;
  border-bottom: 2px solid $zyxel_color4;
  text-align: center;
  color: $zyxel_color4;
  font-size: 32px;
}
.signupForm header:after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid $zyxel_color4;/*  margin-left: -8px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid $zyxel_color4;
*/}
.signup_cont {
  padding: 8% 7% 7% 7%;
}
.divider {
  width: 100%;
  text-align: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $zyxel_color3;
  margin: 14px auto 23px auto;
  position: relative;
}
.divider div{
  position: absolute;
  top: -0.7em;
  width: 100%;
}
.divider span{
  width: auto;
  /* [disabled]margin: 0 auto -6px; */
  font-size: 1em;
  padding: 0 1.2em;
  color: $zyxel_color2;
  text-shadow: none;
}
.login_footer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: $zyxel_color3;
  padding-top: 14px;
}
.login_footer a span{
  display: inline-block;
  width: 175px;
  margin: -25px 0px 0px;
  padding: 0 0 0 35px;
  font-size: 14px;
  color: $zyxel_color2;
  background-repeat: no-repeat;
  background-position: 7px center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow : ellipsis;
  ransition: color .3s;
  -webkit-transition: color .3s; /* Chrome & safari */
  -moz-transition: color .3s; /* firefox */
  -o-transition: color .3s;
}
.login_footer a span:hover {
  color: $zyxel_color4;
}
.sign_up_wrap, .forgot_password_wrap{
  display: inline-block;
  position: relative;
  padding:3px 15px;
  width: 50%;
  > a:hover + .hover_pop{
    visibility: visible;
  }
}
.forgot_password_wrap{
  float: left;
  border-right: 1px solid $zyxel_color3;
  .login_footer_forgot {
    background-image: image-url("forgot_password.png");
  }
}
.sign_up_wrap{
  .login_footer_account {
    background-image: image-url("get_account.png");
  }
}
.hover_pop{
  visibility: hidden;
  position: absolute;
  text-align: center;
  font-size: 15px;
  color: $zyxel_color4 !important;
  background:white;
  border:1px solid $zyxel_color3 !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px !important;
}
.input_style1  {
  border: 1px solid $zyxel_color3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 40px;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  color: $zyxel_color2;
  margin-bottom: 7px;
  width: 100%;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  margin-top: 7px;
  padding: 0 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.input_style1:focus {
  border-color:$zyxel_color1;
}
.input_captcha {
  width: 45%;
  margin-right: 10px;
}
.input_error > input {
  border: 1px solid $zyxel_color1;
}
// changed
.user_info.zyxel_table_style, .add_label.zyxel_table_style {
  th { width: 35% }
}

.zyxel_table_style {
  width: 100%;
  margin-bottom: 20px;
}
.zyxel_table_style th{
  text-align: right;
  color: $zyxel_color2;
  font-weight: normal;
  padding-right: 12px;
  width: 25%;
  vertical-align: middle;
  height: 40px;
}
.zyxel_table_style1 th {
  width: 30%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEE;
  text-align: left;
  padding-left: 30px
}
.zyxel_table_style td {
  color: $zyxel_color2;
}
.zyxel_table_style1 td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEE;
}
.zyxel_table_style th span , .checkbox span{
  color: $zyxel_star;
}
.zyxel_table_style .error{
  height: auto;
}
.zyxel_table_style .error .zyxel_arlert_area {
  margin-bottom: 0px;
}
.zyxel_table_style  .width25{
  width: 25%;
}
.zyxel_table_style2{
  /* [disabled]margin:0 auto; */
  width: 100%;

  // pairing button & fix chrome issue
  .zyxel_btn_style1{
    float: right;
    margin: 0 6px 0 0;
  }
  th{
    padding: 0 5px 0 10px;
    border-bottom: 1px solid $zyxel_color6;
    color: $zyxel_color2;
    font-size: 17px;
    font-weight: normal;
  }
  td{
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid $zyxel_color6;
  }
  .td_right {
    width: 90px;
  }
  .td_left {
    padding-left: 10px;
  }
  tr td:first-child {
    text-align:center;
  }
  .search_list_hover{
    @extend .hover_pop;
    min-width: 220px;
    margin: -80px auto;
    text-align: left;
    color: $zyxel_color2 !important;
    font-size: 0.9em;
  }
  .search_list_hover span{
    display: block;
  }
  tr.device:hover .search_list_hover {
    visibility: visible;
  };
}


.agree_note_box {
  border-style: solid;
  border-width: 1px;
  border-color: $zyxel_color3;
  border-radius: .3125em;
  padding: 0.9em;
  height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: transparent;
  color: $zyxel_color2;
  font-size: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  border-style: solid;
}
.zyxel_table_style3{
  width: 100%;
  margin-bottom: 70px;
}
.zyxel_table_style3 th {
  padding-left: 10px;
  text-align: center;
  width: 120px;
}
.zyxel_table_style3 td{
  padding-top: 4px;
  padding-bottom: 4px;
  color: $zyxel_color2;
  padding-left: 10px;
}
.zyxel_table_style4 {
  margin-top: 15px;
}
.zyxel_table_style4 td {
  border-bottom: none;
  color: $zyxel_color2;
  padding: 3px 0;
}
.zyxel_table_style4 td.blue  {
  color: $zyxel_color4;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  max-width:450px;
}
.zyxel_table_style4 td.gray {
  color: #616161;
  font-size: 16px;
}
.zyxel_table_style4 td span{
  padding-right: 10px;
  color: $zyxel_color2;
}
.hide_domain_name{
  display: none;
  position: absolute;
  left: -50%;
  right: -50%;
  top:-130%;
  text-align: center;
  /*background:$zyxel_color3;*/
  span{
    font-size: 15px;
    color: $zyxel_color4 !important;
    background:white;
    border:1px solid $zyxel_color3 !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 10px !important;
  }

}
.hide_domain_name:after, .hide_domain_name:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.hide_domain_name:after{
  border-color: rgba(216, 216, 216, 0);
  border-top-color: $zyxel_color3;
  border-width: 10px;
  margin-left: 10px;
}
.zyxel_table_style4 td.blue:hover + .hide_domain_name{
  display: inline;
}

.zyxel_table_style5{
  margin-top: 25px;
  width:100%;/* modify0815 */
  text-align:center;/* modify0815 */
}

.zyxel_table_style5 .upnp.service_list_name{text-decoration: underline;}

.zyxel_table_style5 th {
  color: $zyxel_color2;
  border-bottom: 2px solid $zyxel_color6;
  text-align: center;
  padding: 0 5px 15px 5px;
  font-weight: normal;
}

.zyxel_table_style5 tr:nth-child(even){
  background-color: #ECFFFC;
}
.zyxel_table_style5 td{
  padding-right: 10px;
  color: $zyxel_color2;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 5px;
}
.zyxel_table_style5 td.column1{
  text-align: center;
}
.zyxel_table_style5 td.column2{
  text-align: center;
}
.zyxel_table_style5 td.column3{
  /*padding-right: 0px;*//* modify0815 */
  text-align:left;/* modify0815 */
}
.zyxel_table_style5 td a{/* new0815 */
  color: $zyxel_color2;
}
.zyxel_table_style5 td a:hover{/* new0815 */
  color:#EE7532;
  text-decoration:none;
}
.zyxel_table_style5 td.update_result {
  min-width: 90px;
}
.zyxel_table_style5 td span.green{/* new0815 */
  color: $zyxel_color4;
}
.zyxel_table_style5 td span.red{/* new0815 */
  color: $zyxel_star;
}
.zyxel_table_style5 td span.green:before {/* new0815 */
  content: "\2713";
  padding-right: 3px;
}
.zyxel_table_style5 td span.red:before {/* new0815 */
  content: "\2717";
  padding-right: 5px;
}
input[type="checkbox"]{ /* 把原生隱藏 */
  display:none;
}
input[type="checkbox"] + label span {
  display:inline-block;
  width:18px;
  height:18px;
  vertical-align:middle;
  background:image-url("check-box.png") left center no-repeat;
  cursor:pointer;
  margin-right:8px;
}
input[type="checkbox"]:checked + label span {
  background:image-url("check-box.png") -18px center no-repeat;
}

input[type="checkbox"].th_label {
  & + .check_icon {
    float: left;
  }
  & + .check_icon ~ .check_icon {
    display: none;
  }
}
// changed
.zyxel_table_style5 {
  input[type="checkbox"] {
    & + div[ng-switch-when] {
      label span {
        display:inline-block;
        width:18px;
        height:18px;
        vertical-align:middle;
        cursor:pointer;
        margin-right:8px;
      }
      &[ng-switch-when="false"] label span {
        background:image-url("check-box.png") left center no-repeat;
      }
      &[ng-switch-when="true"] label span {
        background: none;
      }
    }
    &:checked + div[ng-switch-when] {
      &[ng-switch-when="false"] label span {
        background:image-url("check-box.png") -18px center no-repeat;
      }
      &[ng-switch-when="true"] label span {
        background:image-url("check.png") no-repeat;
      }
    }
  }
}

.zyxel_content .radio label, .checkbox label{
  padding-left:0;
}
.waiting{
  text-align:center;
}
.waiting span{
  display:block;
  line-height:40px;
  margin-bottom: 15px;
}
.countdown {
  margin: 30px auto 20px auto;
  width: 100%;
  text-align: center;
}
.countdown img {
  max-width: 100%;
}
.countdown_number {
  font-size: 43px;
  color: #e4da3f;
  text-align: center;
  margin-bottom: 35px;
  margin-left: 10px;
}
.margin_rignt5 {
  margin-right: 5px;
}
.zyxel_edm {
  color: $zyxel_color2;
  padding-left: 30px;
  label {
    margin-left: 5px;
  }
}
@media all and (min-width: 501px) and  (max-width: 767px) {/* modify0815 */
  .zyxel_table_style4 td.blue{ width:380px; }/* modify0815 */
}
@media all and (max-width: 500px){
  .zyxel_btn_sns{ width: 100%; }
  .zyxel_table_style1 th{ padding-left:10px; width:35%; }
  .zyxel_table_style th{ width:30%; }
  .select_width100{ width:75%; margin-left:0; }
  .select_style{ margin:7px 6px 7px 0; }
  .header .header_h1_rwd{ float:none; }
  .nav_zyxel_rwd{ float:none; display:inline-block; margin-top:10px; }
  .header{ height:120px; text-align:center; }
  .zyxel_host_name input{ width:100%; }/* modify */
  .zyxel_table_style3 .zyxel_btn_style1, .zyxel_table_style3 .zyxel_btn_style2{ display: block; margin:10px 0; }
  .zyxel_table_style4 td.blue{ width:265px; }/* modify0815 */
  .zyxel_table_style3 th{ display:none; }/* modify0815 */
}
@media all and (min-width: 768px){
  .zyxel_table_style5 td.column3{ width:50%; }
}

// for select
.user_info_select {
  div.select_style {
    &:first-of-type {
      margin-left: 0px;
    }
    &:last-of-type {
      margin-right: 0px;
    }
    &:only-of-type {
      width: 100%;
    }
  }
}

// changed
div.select_style {
  border: 1px solid $zyxel_color3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 40px;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  color: $zyxel_color2;
  margin: 7px 5px 7px 12px;
  width: 25%;
}

// select2
body {
  .select2-container {
    .select2-choice {
      height: 100%;
      padding: 5px 0 5px 8px;
      background-image: none;
      border: none;
      color: $zyxel_color2;
      .select2-arrow {
        background-image: none;
        background-color: $zyxel_white;
        border-left: $zyxel_white;
        b {
          margin-top: 5px;
        }
      }
    }
  }
  .select2-dropdown-open {
    .select2-choice {
      background-color: $zyxel_white;
    }
  }
  .select2-dropdown-open.select2-drop-above {
    border-top-color: transparent;
    .select2-choice, .select2-choices {
      border-color: transparent;
      background-image: none;
    }
  }
  .select2-drop {
    box-shadow: none;
    -webkit-box-shadow: none;
    &.select2-drop-active {
      border-color: $zyxel_color3;
      color: $zyxel_color2;
      margin-top: -3px;
      &.select2-drop-above {
        border-top-color: $zyxel_color3;
        box-shadow: none;
        -webkit-box-shadow: none;
        margin-top: 3px;
      }
    }
  }
  .select2-search {
    display: none;
  }
  .select2-results {
    .select2-highlighted {
      background: $zyxel_color4;
    }
  }
}

div.help{
  max-width: 580px;
  .btn_wrap{
    margin: 0 0 20px;
    #expand, #collapse{
      color: #FFF;
      padding: 10px 20px;
      background: $zyxel_color4;
      transition: background-color 0.3s ease 0s;
      -webkit-transition: background-color 0.3s ease 0s; /* Chrome & safari */
      -moz-transition: background-color 0.3s ease 0s; /* firefox */
      -o-transition: background-color 0.3s ease 0s;
      border: none;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-size: 0.9em;
      &.disable{
        opacity: 0.5;
        cursor: default;
        &:hover{
          background-color: $zyxel_color4;
        }
      }
      &:hover{
        text-decoration:none;
        color:$zyxel_white;
        background-color:$zyxel_color1;
      }
    }
  }
  ul {
    li{
      list-style-type: none;
      &:not(:last-of-type) {
        border-bottom: 1px solid $zyxel_white;
      }
      &:first-of-type h2 {
        -webkit-border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
      }
      &:last-of-type {
        h2:not(.active), h2.active + article {
          -webkit-border-radius: 0 0 3px 3px;
          -moz-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px;
        }
      }
    }
  }

  #tabs{
    padding:0;
    h2{
      margin: 0;
      padding: 10px 10px;
      font-size:15px; // Ref by sign-in btn
      cursor: pointer;
      background: $zyxel_color4;
      color: white;
      transition: background-color 0.3s ease 0s;
      -webkit-transition: background-color 0.3s ease 0s; /* Chrome & safari */
      -moz-transition: background-color 0.3s ease 0s; /* firefox */
      -o-transition: background-color 0.3s ease 0s;
      &:hover {
        background-color: $zyxel_color1;
        & + article {
          border-color: $zyxel_color1;
        }
      }
    }
    article {
      display: none;
      padding: 5px 10px;
      overflow: hidden;
      color: $zyxel_color2;
      border: 1px solid $zyxel_color4;
      transition: border-color 0.3s ease 0s;
      -webkit-transition: border-color 0.3s ease 0s; /* Chrome & safari */
      -moz-transition: border-color 0.3s ease 0s; /* firefox */
      -o-transition: border-color 0.3s ease 0s;
    }
    h2.active + article {
      display: block;
    }
    img{
      display: block;
      margin: 0px auto;
    }
    br{
      display: block;
      margin:5px 0;
    }
    .member_icon{
      display: inline-block;
      padding: 0 25px;
      background-image: image-url("member.png");
      background-repeat: no-repeat;
      background-position: center top;
      width: 35px;
      height: 34px;
    }
  }
}

div.footer{
  margin: 80px 0 0 30px;
  text-align: center;
  .support {
    a {
      @include transition-property(color);
      @include transition-duration(0.3s);
      text-decoration: none;
      font-size: 14px;
    }
    a:link, a:visited {
      color: $zyxel_color4;
    }
    a:hover, a:active {
      color: #F0DF4A;
    }
  }
  span{
    color:$zyxel_color2;
    font-size:12px ;
  }
}
