.unpairing {
  .device-box {
    width: 80%;
  }
  .device {
    .device-img > img {
      width: 100%;
    }
    .device-name {
      font-size: 30px;
    }
    > div {
      display: inline-block;
      width: 20%;
    }
    > a {
      width: 15%;
    }
  }
}