<li>
  <h2>ลงทะเบียนโดย myZyXELcloud พอร์ทัล</h2>
  <article>
    <p>กรุณากรอกข้อมูลทั้งหมดที่จำเป็นในหน้าเข้าสู่ระบบ</p>
    <%= image_tag 'help/th/sign_up.png' %>
    <p>myZyXELcloud จะส่งอีเมลยืนยันไปยังบัญชีอีเมลของคุณ</p>
    <%= image_tag 'help/th/e-mail_confirmation.png' %>
    <p>กรุณาตรวจสอบกล่องจดหมายของบัญชีอีเมลของคุณและคลิกที่ลิงค์เพื่อยืนยันการลงทะเบียนบัญชีของคุณในอีเมล</p>
    <%= image_tag 'help/th/e-mail_confirmation-2.png' %>
    <p>หน้าจะเปลี่ยนเส้นทางไปยังหน้ายืนยัน</p>
    <%= image_tag 'help/th/e-mail_confirmation-3.png' %>
  </article>
</li>