<li>
  <h2>Register by myZyXELcloud portal</h2>
  <article>
    <p>Please fill in all required information in the sign up page</p>
    <%= image_tag 'help/en/sign_up.png' %>
    <p>myZyXELcloud will send a confirmation e-mail to your e-mail account.</p>
    <%= image_tag 'help/en/e-mail_confirmation.png' %>
    <p>Please check your email account’s inbox and click the link to confirm your account registration in the e-mail.</p>
    <%= image_tag 'help/en/e-mail_confirmation-2.png' %>
    <p>The page will redirect to confirmed page</p>
    <%= image_tag 'help/en/e-mail_confirmation-3.png' %>
  </article>
</li>