<p><%= I18n.t("devise.mailer.reset_password_instructions.instruction").html_safe %></p>

<p><%= link_to edit_password_url(@resource), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= I18n.t("devise.mailer.reset_password_instructions.instruction_2").html_safe %></p>
