<h1>Pairing</h1>
<div class="discoverer">
  <div class="sub_title">裝置配對</div>
	<div class="device">
		<div class="device_img">
      <img src="" style="width:100px;">
    </div>
    <div class="device_name">Device Name</div>
	</div>

	<%# Pairing information content %>
	<div class="discoverer-info">
    <div class="check">請問您是否要與此裝置進行配對動作？</div>
    <div class="start hidden">配對開始 <br/>請於<p class="warning">10:00內</p>點擊裝置上之配對功能鍵</div>
    <div class="unconnect hidden">目前偵測不到您的裝置，請確認裝置是否連上線</div>
    <div class="timeout hidden">您的配對已逾時，請重新操作以進行配對</div>
		<div class="success hidden">已與此裝置完成配對<br/>
點選“確定”按鈕以繼續設定裝置的ddns設定與uPnP設定</div>
	</div>
	<%# end - Pairing information content %>

  <%# Pairing bottom content include confirm button, loading image, and retry button %>
	<div class="bottom-content">
	  <div class="check">
	  	<button class="btn btn-primary">Confirm</button>
	  </div>
  	<div class="start hidden">
  		<%= image_tag 'loading.gif', size: "60" %> 
  	</div>
  	<div class="unconnect timeout hidden">
  		<button class="btn btn-primary">Retry</button>
  	</div>
  	<div class="check unconnect timeout">
  	  <%= link_to("Cancel", "/discoverer/index", class: "btn btn-default") %>
  	</div>
  	<div class="success hidden">
  		<%= link_to("Confirm", "discoverer/index", class: "btn btn-primary") %>
  	</div>
  </div>
  <%# end - Pairing bottom content %>
</div>
