<div class="discoverer">
  <div class="zyxel_content">
    <%= render "discoverer/shared/device_info" %>
    <%# Pairing information %>
    <div class="device_info">
      <span class="zyxel_span2"><%= I18n.t("warnings.settings.pairing.instruction") %></span>
      <div class="zyxel_btn_area i18n_fix">
        <%= link_to(I18n.t("labels.cancel"), "/discoverer/index", class: "zyxel_btn_back") %>
        <%= link_to(I18n.t("labels.confirm"), "/pairing/index/" + URI.encode(@device.encrypted_id), class: "zyxel_btn_submit zyxel_resend_btn") %>
      </div>
    </div>
  </div>
</div>
