
<div class="discoverer">
  <div class="zyxel_content">
    <%= render "discoverer/shared/device_info" %>
    <%# Pairing information %>
    <%# need-add-i18n %>
    <div class="device_info">
      <span class="zyxel_span2">請問您是否要與此裝置進行配對動作？</span>
      <%# need-add-i18n %>
      <div class="zyxel_btn_area">
        <%= link_to("Cancel", "/discoverer/index", class: "zyxel_btn_back") %>
        <%= link_to("Confirm", "/pairing/index/" + @device.id.to_s, class: "zyxel_btn_submit zyxel_resend_btn") %>
      </div>
    </div>
  </div>
</div>
