<div class="header">
  <ul class="nav nav-pills nav_zyxel">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <%= I18n.t('labels.language') %> <span class="caret_zyxel"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <% @locale_options.each do |l, value| %>
          <li><%= link_to l, params.merge("locale" => value) %></li>
        <% end %>
      </ul>
    </li>

    <% if user_signed_in? %>
      <li>
        <a href="#" class="member">
          <%= image_tag "member.png", width: "35", height: "35" %>
        </a>
      </li>
    <% end %>
  </ul>

  <h1><a href="/"><%= image_tag "logo.png", width: "110", height: "60" %></a></h1>
</div>