<header class="navbar-inverse row">
	<h1 class="title col-xs-7 col-sm-7">Personal Cloud</h1>
	<div class="language col-xs-5 col-xs-5">
		<div>
		  <%= I18n.t('labels.language') %>

		  <%= select_tag :locale, options_for_select(@locale_options, I18n.locale.to_s), onchange: "change_language(this)" %>
		</div>
	</div>
</header>