// -------------------------------------
//   Partials: dropdown
//
//   # Path: (unauthenticated_root)
// -------------------------------------

.nav_zyxel {
  float: right;
  margin-top: 20px;
}

.dropdown {
  // border: 1px solid $zyxel_color4;
  // background-color: lighten($bg-color, 20%);
  // margin-right: 10px;
  // @include border-radius(5px);
  // border-radius: 5px;
  // padding-left: 40px;
  // background-color: lighten($bg-color, 25%);
  // height: 30px;
  // width: 150px;
  // line-height: 30px;
  // &:hover, &:focus{
    // background-color: $bg-color;
    // text-decoration: none;
    // cursor: pointer;
  // }

  // .dropdown {
  > a {
    display: block;
    height: 30px;
    width: 150px;
    // background-color: lighten($bg-color, 25%);
    background-color: #e1f2cc;
    @include transition(background, 0.3s);
    &:hover, &:focus{
      color: $zyxel_white;
      background-color: $bg-color;  /* Rewrite bootstrap nav css*/
      text-decoration: none;
    }
    .language {
      display:inline;
      margin: 0 10px 0 10px;
      color: #000;
    }
  }
  li a {
    color: $zyxel_color4;
    font-weight: normal;
  }
  // .dropdown-toggle:after{
  //   display: inline-block;
  //   content: "›";
  //   padding: 0px 0px 0px 2px;
  //   transform: rotate(90deg);
  //   -webkit-transform: rotate(90deg);
  //   -moz-transform: rotate(90deg);
  //   -o-transform: rotate(90deg);
  // }
  .dropdown-menu {
    right:0;
    left: inherit;
    li a {
      color: $zyxel_color2;
      font-weight: normal;
      font-size: 13px;
      line-height: 2em;
      &:hover,
      &:focus {
        color: $zyxel_white;
        text-decoration: none;
        // background-color: $zyxel_color4;
        background-color: $bg-color;
      }
    }
  }
}