.btn-custom {
  @include button-variant(#FFFFFF, $btn-color, $btn-color);
}

.btn-round {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-width: 0px;
  border-radius: 60px; /* 高度 */
  &.fb {
    background: #3A5794 image-url("fb.png") no-repeat center;
    background-size: 30px 30px;
    float: right;
    &:hover {
      background-color: #344E85;
    }
  }
  &.google {
    background: #dd4b39 image-url("google.png") no-repeat center;
    background-size: 30px 30px;
    float: left;
    &:hover {
      background-color: #C64333;
    }
  }
}

@include checkbox-variant('.checkbox-custom', $btn-color);
@include checkbox-variant-indeterminate('.checkbox-custom', $brand-primary);
