footer {
  text-align: center;
  max-width: 430px;
  height: 36px;
  padding: 15px 10px 5px 10px;
  line-height: 16px;
  &.sign_in {
    color: #b3b3b3;
    margin-top: -36px;
    position: relative;
    bottom: -36px;
  }
  &.normal {
    color: #b3b3b3;
    margin-top: -36px;
    position: relative;
    bottom: -36px
  }
}

@media (min-width: 411px) and (max-width: 430px) // iPhone 6s plus
{
  footer {
    &.sign_in {
      color: #b3b3b3;
      margin-top: 70px;
      bottom: 0px;
    }
    &.normal {
      color: #fff;
      bottom: 0px;
    }
  }
}

@media (min-width: 321px) and (max-width: 410px) // iPhone 6s
{
  footer {
    &.sign_in {
      color: #b3b3b3;
      margin-top: -25px;
      bottom: 0px;
    }
    &.normal {
      color: #fff;
      margin-top: -35px;
      bottom: 0px;
    }
  }
}


@media (max-width: 320px) // iPhone 5,4
{
  footer {
    padding: 10px 10px 5px 10px;
    font-size: 12px;
    &.sign_in {
      color: #b3b3b3;
      margin-top: 0px;
      bottom: 0px;
    }
    &.normal {
      color: #fff;
      bottom: 0px;
    }
  }

}
