.signup_cont {
  padding: 8% 7% 7% 7%;

  .content {
    color: #fff;
    margin-bottom: 10px;
    padding: 55px 35px;
    background: image-url('content-heading.png') top no-repeat,
      image-url('content-footer.png') bottom no-repeat,
      image-url('#{$theme-type}/clouds.png') top 25px left 20px no-repeat,
      image-url('#{$theme-type}/rainbow.png') bottom -20px right -23px no-repeat;
    background-color: $bg-color;

    a:not(.btn) {
      color: #fff;
      text-decoration: underline;

      &:focus, &:active {
        color: #fff;
      }
      &:hover {
        color: darken(#fff, 10%);
      }
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}