.process_indicator_wrapper {
  width: 100px;
  height: 30px;
  // margin: -25px auto -5px auto;
  margin: -15px auto 0px auto;
  .process_indicator {
    width: 100px;
    height: 30px;
    .circle1 {
      cx: 11px;
      cy: 15px;
      r: 5.5px;
      fill: none;
    }
    .circle2 {
      cx: 50px;
      cy: 15px;
      r: 5.5px;
      fill: none;
    }
    .circle3 {
      cx: 89px;
      cy: 15px;
      r: 5.5px;
      fill: none;
    }
    .apply_theme {
      stroke: $bg-color;
      stroke-width: 2.4px;
    }
    .apply_gray {
      stroke: #8c8c8c;
      stroke-width: 2.4px;
    }
  }
}
