.add-padding-right {
  padding-right: 72.5px !important;
  // padding-right: 63.5px !important;
}

.add-show-hide {
  &:hover {
    cursor: pointer;
  }
}

.show-password-wrapper {
  width: 40px;
  height: 40px;
  background-color: #f00;
  top: -40px;
  position: relative;
  margin-bottom: -40px;
  float: right;
  background: image-url("eye-open.png") no-repeat center;
  &:hover {
    cursor: pointer;
  }
}